.pbody {
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    background: #222222;
    background: -webkit-linear-gradient(to top, #232526, #414345);
}
.pbody a {
    color: inherit;
}
.pbody a:not(:hover) {
    text-decoration: none;
}
.pbody #link-a-me {
    position: absolute;
    bottom: 80px;
    right: 20px;
    height: 60px;
    width: 60px;
    background: url(https://i.imgur.com/xoxkq1r.png);
    background-size: cover;
    z-index: 1;
    animation: pop-in 120s ease-out;
}
.pbody .content {
    overflow: hidden;
    flex-grow: 1;
    height: calc(100% - 80px);
}
.pbody .content .lyrics {
    padding: 50vh 0;
    min-height: calc(100vh - 80px);
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: center;
    transition: all 0.25s;
    position: relative;
}
.pbody .content .lyrics > div {
    position: relative;
    font-size: 40px;
    line-height: 80px;
    color: #666;
    transition: all 0.25s;
}
.pbody .content .lyrics > div:before {
    content: attr(note);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.pbody .content .lyrics > div.highlighted {
    color: #fff;
    font-size: 48px;
}
.pbody .player {
    z-index: 10;
    background: #F9F9F9;
    color: #000;
    min-height: 80px;
    max-height: 80px;
    display: flex;
    flex-direction: row;
}
.pbody .player .left {
    width: 80px;
    background-image: url(http://localhost:3000/images/HM1a.gif);
    background-size: cover;
}
.pbody .player .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.pbody .player .right .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.pbody .player .right .top .song {
    font-size: 1.2em;
    font-weight: 600;
}
.pbody .player .right .bottom {
    display: flex;
}
.pbody .player .right .bottom video {
    flex-grow: 1;
    height: 32px;
}

@keyframes pop-in {
    0%, 95% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}